/*
RECUERDA:
- Height = alto
- Width = ancho
- Padding = relleno
- Margin = margen
- Gap = "hueco"
*/
html,body{    /*NO limitar la altura (eso provoca q se salgan los artículos)*/
  width:100%;
  padding:0px;
  margin:0px;
}
body{
  display:flex;
  width:100%;
  min-height: 100vh;
}
nav{
  flex:1;
  background:#7d50a1;
  padding:20px;display:flex;
  flex-direction:column;
}
main {
  flex: 4;
  background: #b398e9;
  padding: 20px;
  overflow-y: auto;
  
  display: flex;
  flex-direction: column; /* Secciones una debajo de otra */
  gap: 40px; /* Espacio entre secciones */
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
article{
  align-content: center;
  text-align: center;
}
article img{
  width: 100px;
  height: 100px;
  object-fit: contain; /*para forzar que queden iguales*/
  display: block;
  margin: 0 auto 10px;
}

     