html,body{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
}
body{
  display:flex;
  width:100%;
  height:100%;
}
nav{
  flex:1;
  background:#7d50a1;
  padding:20px;display:flex;
  flex-direction:column;
}
main {
  flex: 4;
  background: #b398e9;
  padding: 20px;

  display: flex;
  flex-direction: column; /* Secciones una debajo de otra */
  gap: 40px; /* Espacio entre secciones */
}

section {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* artículos en 3 columnas dentro de cada sección */
  gap: 20px;
}
article{
  background:white;
  border-radius: 15px;
  align-content: center;
  text-align: center;
}
article img{
  width: 100px;
  height: 100px;
  object-fit: contain; /*para forzar que queden iguales*/
  display: block;
  margin: 0 auto 10px;
}

     