@font-face {
  font-family: "negrita";
  src: url(../css/fonts/ari-w9500-bold.ttf);
}
@font-face {
  font-family: "fina";
  src: url(../css/fonts/ari-w9500.ttf);
}

/*Elimina los márgenes y rellenos por defecto*/
html, body {
  width: 100%;/*Hace que la web ocupe  todo el ancho*/
  margin: 0;
  padding: 0;
  font-family: "fina";
}

/* Estructura general */
body {
  flex-direction: column;
  min-height: 100vh;/*Obliga al cuerpo a medir el 100% de la altura de la ventana*/
}
h2{text-align: center;font-family: "negrita";}

/* NAVEGACIÓN */
nav {
  height: 80px;
  padding: 0 30px;
  background: #7d50a1;

  display: flex;/*Modo flexible*/
  justify-content: flex-end;/*Empuja iconos a derecha*/
  align-items: center;/*Centra iconos en vertical*/
  gap: 20px; /*Espacio entre elementos*/

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);/*Sombreado suave hacia abajo*/
}

/* "ENLACES" NAVEGACIÓN */
nav a {
  width: 48px;
  height: 48px;

  display: flex;/*Centrar el icono en el cuadrado */
  justify-content: center;
  align-items: center;

  border-radius: 10px;/*redondeo bordes*/
  background: rgba(255, 255, 255, 0.15);/***CAMBIAR COLOR????***/

  transition: background 0.25s, transform 0.2s;/*Hace la transición más lenta*/
}

nav a:hover {/*CUANDO PASAS EL RATÓN POR ENCIMA HACE:  */
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

/* Imágenes del nav */
nav a img {
  width: 28px;
  height: 28px;
}

/* Contenido principal */
main {
  flex: 1;/*Ocupa el espacio q sobra*/
  padding: 30px;
  background: #d9c3f5;
  color: #333;
  overflow-y: auto;

  display: flex;
  flex-direction: column;/*Organiza las secciones una debajo de otra*/
  gap: 40px;/*Separación entre videojuegos y consolas*/
}

/* Grids de productos */
/*Esto va a hacer q se vea bien en móvil y pc*/
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

/* Tarjeta de producto */
article {
  padding: 10px;
  text-align: center;
  background: #fff;
  border: 1px solid #d0c0e0;
  border-radius: 8px;
}

/* Imágenes de producto */
article img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  padding: 5px;

  object-fit: contain;
  background: #f0f0f0;
}

/* Botón */
article a {
  display: inline-block;
  margin-top: 5px;
  padding: 8px 12px;

  background: #7d50a1;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;

  transition: background 0.3s;
}

article a:hover {
  background: #63327c;
}
