/*No te ralles Piero, luego lo iremos dejando más bonico*/

/*
RECUERDA:
- Height = alto
- Width = ancho
- Padding = relleno
- Margin = margen
- Gap = "hueco"
*/

/*--FUENTES DE TEXTO--*/
body{
    background-color: rgb(179, 151, 232);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
/*--FORMULARIO--*/
.formulario{
    width: 300px;        /* o el tamaño que quieras */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.campo input{
    margin-bottom: 12px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: rgb(232, 224, 248);
    font-size: 16px;
    width: 100%; 
}/* "%" hace que ocupe x porcentaje en base a lo que ocupa el formulario*/
input{
    height: 30px;
    width: 50%;
    border-radius: 12px;
    margin-bottom: 25px;
}
.campo input::placeholder{text-align: center;color:rgb(179, 151, 232);}
