/*No te ralles Piero, luego lo iremos dejando más bonico*/

/*
RECUERDA:
- Height = alto
- Width = ancho
- Padding = relleno
- Margin = margen
- Gap = "hueco"
*/

/*--FUENTES DE TEXTO--*/
@font-face {
    font-family: "titulo" ;
    src: url("fonts/04B_30__.TTF");
}
@font-face {
    font-family: "negrita" ;
    src: url("fonts/ari-w9500-bold.ttf");
}
@font-face {
    font-family: "normal" ;
    src: url("fonts/ari-w9500.ttf");
}

body{
    /*imagen de fondo*/
    background-image: url(img/fondo.gif);
    background-size: cover;
    
    font-family: "normal";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recordar{font-family: "negrita";}
h1{
    font-family: "titulo";
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    /*Degradado*/
    background: linear-gradient(to right, #1df1fd,#e910ee,#532c85);
    -webkit-background-clip: text;
    color: transparent;
}
h2{
    font-family: "negrita";
    font-size: 30px;
}
/*--FORMULARIO--*/
.formulario{
    background: white;
    width: 300px;        /* o el tamaño que quieras */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    /*Sombreado*/
    box-shadow: 0 4px 10px  rgba(43, 17, 79, 0.6);
}
.campo input{
    margin-bottom: 12px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: rgb(232, 224, 248);
    font-size: 16px;
    width: 100%; 
}/* "%" hace que ocupe x porcentaje en base a lo que ocupa el formulario*/
input{
    font-family: "normal";
    height: 30px;
    width: 50%;
    border-radius: 12px;
    margin-bottom: 25px;
}
.campo input::placeholder{text-align: center;color:rgb(179, 151, 232);}
